/* YOUR CUSTOM STYLES */


main {
  padding-top: 3rem;
  padding-bottom: 2rem;
}             


.cat-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.current-cat{
  z-index: 2;
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.current-cat>a{
  color: #fff;  
}
          